html, body {
   max-width: 100%;

}
.header {
  background-color:  #383d48;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
}
.logo {
  text-transform:uppercase;
  font-family: Roboto;
  color: white;
  text-decoration:none;
  width: 116px;
  height: 19px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-right: 45px;
}

.btn-descopera {
  text-transform:uppercase;
  font-family: Roboto;
  color: white;
  text-decoration:none;
  width: 147px;
  height: 11px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 69px;
}

.btn-creeaza {
  text-transform:uppercase;
  font-family: Roboto;
  color: white;
  text-decoration:none;
  width: 121px;
  height: 11px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 94px;
}

.btn-cautare {
  font-family: Roboto;
  color: white;
  text-decoration:none;
  width: 240px;
  height: 61px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 108px;

}

.btn-logare {
  font-family: Roboto;
  color: white;
  text-decoration:none;
  width: 116px;
  height: 60px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right:10px;

}

a.btn-logare {
  background-color:  #ff7474;
}

 ul li {
  display: inline;
  vertical-align:top;

}

.info-about-video {
  margin: 0 auto;
}

.info {
  display: inline-block;
  vertical-align: top;
  width: 640px;
  margin-right: 40px;
}

.video-img {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.btn {
  display:inline-block;
  vertical-align: top;
  margin-right: 180px;
}

.watch-video {
  display: inline-block;
  margin-left: 139px;
  font-size: 30px;/* Approximation due to font substitution */
  font-weight: 400;
}

.btn-account:hover{
  background: #3cb0fd;
  text-decoration: none;
}

a.btn-account {
  border-radius: 60px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 24px;
  background: rgba(56, 61, 72, 0.9);;
  padding: 6px 17px 10px 20px;
  text-decoration: none;
  margin-right: 139px;
}

.container{
    margin-top: 91px;
    margin-left: 310px;
    width: 100%;
}

  h1 {
    font-family: Roboto;
    color: #383d48;
    font-size: 72px; /* Approximation due to font substitution */
    font-weight: 100;
    line-height: 16px; /* Approximation due to font substitution */
    text-align: left;
}

.about {
  margin-bottom: 67px;
  font-family: Roboto;
  color: #7a8387;
  font-size: 18px; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 30px; /* Approximation due to font substitution */
  text-align: left;
}

a.btn {
  border-style: solid;
  border-width: thick;
  text-decoration: none;
  border-radius: 12px;
  display: inline-block;
  background-color: rgba(56, 61, 72, 0.9);
  color: white;
  border-color: rgba(56, 61, 72, 0.9);
  font-size: 18px;/* Approximation due to font substitution */
  font-weight: 700;
  line-height: 16px;/* Approximation due to font substitution */
  text-align: left;
  font-family: Roboto;
}

.video {
  margin-left: 368px;
  width: 440px;
  height: 290px;
}

.body {
  background-size: 1600px 500px;
  background: url(http://i.imgur.com/BUiWzhd.jpg)  no-repeat center center;
  background-size: cover;
  padding: 10px;
}

.tourists-locations {
  display: inline-block;
  vertical-align: top;
  width: 640px;
  margin-right: 40px;
  font-family: Roboto;
  color:  #383d48;
  font-size: 30px;/* Approximation due to font substitution */
  font-weight: 300;
  line-height: 16px;/* Approximation due to font substitution */
  text-align: left;
}

 h2.tourists-locations {
  font-family: Roboto;
  color: #383d48;
  font-size: 30px; /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 16px; /* Approximation due to font substitution */
  text-align: left;
 }

.recent-activity {
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color:  #e6e6e6;
  box-sizing: border-box;
  background-color:  #fafafa;
  width: 300px;
  height: 731px;
}

.project-description {
  width: 283px;
  height: 134px;
  display: inline-block;
  vertical-align: top;
}

 p.description-text {
  font-family: Roboto;
  color: #7a8387;
  font-size: 14px; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 24px; /* Approximation due to font substitution */
  text-align: left;
}

 h5 {
   font-family: Roboto;
   color: #383d48;
   font-size: 14px; /* Approximation due to font substitution */
   font-weight: 700;
   line-height: 24px; /* Approximation due to font substitution */
   text-align: left;
}

 h3 {
   margin-left: 40px;
  font-family: Roboto;
  color: #7a8387;
  font-size: 24px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;

 }

.main{
  margin: 0 auto;
  width: 1000px;
}

.main-projects{
  display: inline-block;
}

.btn-description {
  border-style: solid;
  border-width: 1px;
  border-color:  #e6e6e6;
  box-sizing: border-box;
  background-color:  rgba(56, 61, 72, 0);
  width: 163px;
  height: 30px;
  text-decoration: none;
  font-family: Roboto;
  color: #383d48;
  font-size: 14px; /* Approximation due to font substitution */
  font-weight: 700;
  line-height: 24px; /* Approximation due to font substitution */
  text-align: left;
}

ul.people-activity{
  margin-bottom: 64px;
}

a.see-more{
  margin-left: 40px;
}
.project-of-the-month{
  display: inline-block;
  width: 300px;
  margin-right: 40px;
  vertical-align: top;
}
 .ana-project{
  font-family: Roboto;
  color: #383d48;
  font-size: 18px; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 20px; /* Approximation due to font substitution */
  text-align: left;
}
